################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ampbackup
/broken‘s forward backup
/clbackup
/okversion
/x64
/Release
/RayTrace.vcxproj.user
/RayTrace.vcxproj.filters
/RayTrace.vcxproj
